.popup__container_type_edit-profile {
    background-color: #fff;
    width: 430px;
    border-radius: 10px;
}

@media screen and (max-width: 528px) {
  .popup__container_type_edit-profile {
    width: 282px;
  }
}