.popup__form {
	width: calc(100% - 36px * 2);
	margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

@media screen and (max-width: 528px) {
	.popup__form {
		width: calc(100% - 22px * 2);
	}
}
